<!DOCTYPE html>
<html lang="en">
<head>
  <title>AngularJS Product Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
	<!-- stylesheets -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 
	<!-- javascripts -->
	<script src="javascripts/jquery/jquery-1.12.0.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
</head>
<style>
		.price-and-close{float: right;padding-bottom: 0px;position: relative;bottom: 55px;right: 100px;}
		.price-and-close span{padding-left: 100px;}
		.container{margin: 0px 10px;width: 95%;}
		body{ width: 1350px; overflow: auto;}
</style>
<body ng-app="ProductListApp" ng-controller="SimpleController" style="display:none;">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Store</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Catalog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>

<div class="container">
	<div class="col-md-3 list-group">
		<a href="#" class="list-group-item active">First option</a>
		<a href="#" class="list-group-item">Second option</a>
		<a href="#" class="list-group-item">Third option</a>
		<a href="#" class="list-group-item">Fourth option</a>
	</div>
	
	<div class="col-md-9" id="itemList">
		<form class="form-inline" role="form">
			<div class="form-group">
				<label for="Search">Search </label>
				<!-- angular search -->
				<input type="search" class="form-control" id="item-search" value="Search by item name" ng-model="prod_name"/>
			</div>
		</form>
		<div style="margin-top: 15px;">
		
		<form action="#" class="form-inline" role="form">
			<div class="form-group">
					<label for="name">Add Item</label>
					<input type="name" class="form-control" ng-model="item.product_name" value="item name">
			</div>
			<div class="form-group">
				<label for="discription">Description</label>
				<input type="discription" class="form-control" ng-model="item.product_description" value="Description">
			</div>
			
			<div class="form-group">
				<label for="price">Price</label>
				<input type="price" class="form-control" ng-model="item.product_price" value="$0.00">
			</div>
		  
			<button class="btn btn-default" type="submit" ng-click="addItem(item)">Add</button>
		</form>
		
		</div>
		<div style="margin-top: 15px;">
			<div class="well well-sm products" ng-repeat="prod in ng_products | filter: prod_name">
				<div>
					<h3>{{prod.product_name}}</h3>
					<p>{{prod.product_description}}</p>
				</div>
				<div class="price-and-close">
					<button type="button" class="btn btn-primary">{{prod.product_price}}</button>
					<span class="glyphicon glyphicon-remove-sign" ng-click="removeItem(prod.id)" ></span>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="javascripts/products_angular_productListapp.js"></script>

</body>
</html>
